@import "reset";
@import "vars";
@import "mixins";
 body {
    font-family: $main-font, Arial, sans-serif;
    color: $color;
    font-size: 14px;
    background: #fff;
}
.top-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 30px;
    .logo {
        margin-right: 30px;
    }
}
.menu-list {
    display: flex;
    margin-right: 20px;
    &__item {
        position: relative;
        &:hover .dropdown-list{
            display: block;
//            z-index: 99;
        }
    }
    &__link {
        display: block;
        padding: 0 10px;
        color: $color;
        line-height: 80px;
        transition: color 0.3s;
        &:hover {
            color: $accent;
        }
        [class*="icon-"] {
            display: inline-block;
            font-size: 8px;
            color: $accent;
            margin-left: 5px;
        }
    }
}

.dropdown-list{
    position: absolute;
    z-index: 99;
    display: none;
    width: 240px;
    left: 0;
    top: 100%;
    padding: 30px;
    background: $color;
    transition: all 1s;
    
    &-item{
        line-height: 24px;
        font-size: 12px;
    }
    &__link{
        color: $color2;
        transition: all 0.3s;
        
        &:hover{
            color: #fff;
        }
    }
    &:before{
        content: '';
        display: inline-block;
        position: absolute;
        left: 20px;
        bottom: 100%;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 8px 9px 8px;
        border-color: transparent transparent $color transparent;
    }
}


.search {
    position: relative;
    flex: 1;
    margin-right: 20px;
    &-input {
        width: 100%;
        height: 30px;
        border: none;
        outline: none;
        padding: 0 40px 0 20px;
        background: #f6f6f6;
        @include border-radius (20px);
        @include input-placeholder {
            font-size: 12px;
            color: #868686;
        }
    }
    &-button {
        position: absolute;
        top: 7px;
        right: 10px;
        background: none;
        outline: none;
        border: none;
        font-size: 16px;
        font-family: 'icomoon' !important;
        cursor: pointer;
    }
}
.location {
    margin-right: 20px;
    &:hover [class*="icon-"] {
        color: $accent;
    }
    a {
        color: #868686;
    }
    [class*="icon-"] {
        color: #282828;
        font-size: 16px;
    }
    &-item {
        font-size: 12px;
    }
}
.cart {
    display: flex;
    align-items: center;
    margin-right: 20px;
    [class*="icon-"] {
        position: relative;
        font-size: 16px;
        color: $color;
        line-height: 80px;
    }
    &-item {
        position: absolute;
        display: inline-block;
        width: 15px;
        height: 15px;
        text-align: center;
        background: $accent;
        @include border-radius (50%);
        color: #fff;
        font-size: 9px;
        line-height: 15px;
        top: -9px;
        right: -9px;
        z-index: 1;
    }
    .price {
        margin-left: 15px;
        font-size: 12px;
        font-family: $font2, Arial, sans-serif;
        font-weight: 700;
    }
    a:hover [class*="icon-"] {
        color: $accent;
    }
}

.user{
    &-link{
        display: inline-block;
        color: $color;
        font-size: 16px;
        &:hover{
            color: $accent;
        }
        [class*="icon-"]{
            line-height: 80px;
        }
        
    }
}


.baner{
    position: relative;
    height: 180px;
    background-position: right top;
    background-repeat: no-repeat;
    background-size: cover;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 30px;
    
    .breadcrumps{
        position: absolute;
        left: 30px;
        top: 50%;
        transform: translateY(-50%);
        color: $color2;
        font-size: 12px;
        
        &-item{
            display: inline-block;
            
            &__link{
                color: inherit;
                transition: all 0.3s;
                
                &:hover{
                    color: $color;
                }
            }
        }
    }
    
    .categorie{
        font-size: 12px;
        color: $accent;
        margin-bottom: 10px;
    }
    
    .baner-titel{
        font-size: 48px;
    }
}

.categorie{
    font-family: $font2 ,Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}


.filter{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    border-bottom: 1px solid #ececec;
    
    
    &-sidebar{
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;
        min-height: 60px;
        width: 240px;
        border-right: 1px solid #ececec;
        padding: 15px 30px;
    }
    &__title{
        font-size: 12px;
        color: $color2;
        margin-right: 20px;
    }
    
    &-content{
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: space-between;
        padding: 15px 30px;
    }
}

.toggle_filter{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin-right: 15px;
    [class*="icon-"]:before{
        transition: all 0.3s;
        color: #d5d5d5;
    }
    &:hover [class*="icon-"]:before{
        color: $color;
    }
}

.sort{
    overflow: hidden;
    
    input{
        position: absolute;
        left: -999px;
    
    }
    label{
        display: inline-block;
        width: 90px;
        height: 30px;
        line-height: 30px;
        margin-right: 20px;
        cursor: pointer;
        text-align: center;
        font-size: 12px;
        color: $color;
        transition: all 0.3s;
        @include border-radius(20px);
        &:hover{
            background: $color;
            color: #fff;
        }
        [class*="icon-"]{
            margin-left: 8px;
            font-size: 12px;
            &:before{
                color: #d5d5d5;
            }
        }
    }
}

.filter-list{
    display: flex;
    align-items: center;
    
    &__item{
        display: inline-block;
        margin-left: 10px;
    }
    
    &__link{
        display: block;
        font-size: 16px;
        
        [class*="icon-"]:before{
            color: #d5d5d5;
            transition: all 0.3s;
        }
        
        &.active [class*="icon-"]:before{
            color: $color;
        }
        &:hover [class*="icon-"]:before{
            color: $color2;
        }
    }
}

.sidebar{
    width: 240px;
    padding: 0 30px;
    
    &-list{
        
        label {
            margin-left: 10px;
            font-size: 12px;
            line-height: 2;
        }
        &__item{
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            &:last-child{
                margin-bottom: 0;
            }
        }
        
        
    }
}

.accordion__head{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}


.size{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .sidebar-list__item{
    width: 40%;
    }
}










